<%= form_for(@dish_kind) do |f| %>
  <% if @dish_kind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish_kind.errors.count, "error") %> prohibited this dish_kind from being saved:</h2>

      <ul>
      <% @dish_kind.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
