<h1><%= I18n.t"dish_kind" %></h1>

<table>
  <tr>
    <th><%= I18n.t"name" %></th>
    <th><%= I18n.t"image" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dish_kinds.each do |dish_kind| %>
  <tr>
    <td><%= dish_kind.name %></td>
    <td><%= dish_kind.photo %></td>
    <td><%= link_to (I18n.t"show"), dish_kind %></td>
    <td><%= link_to (I18n.t"edit"), edit_dish_kind_path(dish_kind) %></td>
    <td><%= link_to (I18n.t"delete"), dish_kind, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to (I18n.t"new_dish_kind"), new_dish_kind_path %>
