<h1><%= I18n.t"dish_kind" %></h1>


<div class="row">
  <div class="col-md-2"><%= I18n.t"name" %></div>
  <div class="col-md-4"><%= I18n.t"image" %></div>
  <div class="col-md-1">""</div>
  <div class="col-md-1">""</div>
  <div class="col-md-1">""</div>
</div>

<% @dish_kinds.each do |dish_kind| %>
  <div class="row">
    <div class="col-md-2"><%= dish_kind.name %></div>
    <div class="col-md-4"><%= dish_kind.photo %></div>
    <div class="col-md-1"><%= link_to (I18n.t"show"), dish_kind %></div>
    <div class="col-md-1"><%= link_to (I18n.t"edit"), edit_dish_kind_path(dish_kind) %></div>
    <div class="col-md-1"><%= link_to (I18n.t"delete"), dish_kind, confirm: 'Are you sure?', method: :delete %></div>
  </div>

<% end %>

<br />

<div class="btn">
  <%= link_to (I18n.t"new_dish_kind"), new_dish_kind_path, :class => "btn btn-primary btn-lg" %>
</div>

