<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :total_price, (I18n.t"total_price") %><br />
    <%= f.text_field :total_price %>
  </div>
  <div class="field">
    <%= f.label :order_time, (I18n.t"order_time") %><br />
    <%= f.datetime_select :order_time %>
  </div>
  <div class="field">
    <%= f.label :checkout_time, (I18n.t"checkout_time") %><br />
    <%= f.datetime_select :checkout_time %>
  </div>
  <div class="field">
    <%= f.label :member_id, (I18n.t"member") %><br />
    <%= f.number_field :member_id %>
  </div>
  <div class="field">
    <%= f.label :table_id, (I18n.t"sit_table") %><br />
    <%= f.number_field :table_id %>
  </div>
  <div class="actions">
    <%= f.submit(I18n.t"create_order") %>
  </div>
<% end %>
