<h1><%= I18n.t"list_orders" %></h1>

<table>
  <tr>
    <th><%= I18n.t"total_price" %></th>
    <th><%= I18n.t"order_time" %></th>
    <th><%= I18n.t"checkout_time" %></th>
    <th><%= I18n.t"member" %></th>
    <th><%= I18n.t"sit_table" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.total_price %></td>
    <td><%= order.order_time %></td>
    <td><%= order.checkout_time %></td>
    <td><%= order.member_id %></td>
    <td><%= order.table_id %></td>
    <td><%= link_to (I18n.t"show"), order %></td>
    <td><%= link_to (I18n.t"edit"), edit_order_path(order) %></td>
    <td><%= link_to (I18n.t"delete"), order, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to (I18n.t"create_order"), new_order_path %>
