<p id="notice"><%= notice %></p>

<p>
  <b><%= I18n.t"name" %></b>
  <%= @page.name %>
</p>

<p>
  <b><%= I18n.t"image"%></b>
  <%= image_tag @page.photo %>
</p>


<%= link_to (I18n.t"edit"), edit_page_path(@page) %> |
<%= link_to (I18n.t"back"), pages_path %>
