<%= form_for(@display_item) do |f| %>
  <% if @display_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@display_item.errors.count, "error") %> prohibited this display_item from being saved:</h2>

      <ul>
      <% @display_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div id="dialog">

    </div>
  <div class="field">
    <%= f.label :x %><br />
    <%= f.number_field :x %>
  </div>
  <div class="field">
    <%= f.label :y %><br />
    <%= f.number_field :y %>
  </div>
  <div class="field">
    <%= f.label :width, (I18n.t"width") %><br />
    <%= f.number_field :width %>
  </div>
  <div class="field">
    <%= f.label :height, (I18n.t"height") %><br />
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :dish_id, (I18n.t"dish_id") %><br />
    <%= f.number_field :dish_id %>
  </div>
  <div class="field">
    <%= f.label :page_id, (I18n.t"page_id") %><br />
    <%= f.number_field :page_id %>
  </div>
  <div class="actions">
    <%= f.submit(I18n.t"create_display_item") %>
  </div>
<% end %>
