<h1>Listing display_items</h1>

<table>
  <tr>
    <th>X</th>
    <th>Y</th>
    <th>Width</th>
    <th>Height</th>
    <th>Dish</th>
    <th>Page</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @display_items.each do |display_item| %>
  <tr>
    <td><%= display_item.x %></td>
    <td><%= display_item.y %></td>
    <td><%= display_item.width %></td>
    <td><%= display_item.height %></td>
    <td><%= display_item.dish_id %></td>
    <td><%= display_item.page_id %></td>
    <td><%= link_to 'Show', display_item %></td>
    <td><%= link_to 'Edit', edit_display_item_path(display_item) %></td>
    <td><%= link_to 'Destroy', display_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Display item', new_display_item_path %>
