<%= form_for(@order_item) do |f| %>
  <% if @order_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_item.errors.count, "error") %> prohibited this order_item from being saved:</h2>

      <ul>
      <% @order_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id, (I18n.t"order_id") %><br />
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :dish_id, (I18n.t"dish_id") %><br />
    <%= f.number_field :dish_id %>
  </div>
  <div class="field">
    <%= f.label :discount, (I18n.t"discount") %><br />
    <%= f.number_field :discount %>
  </div>
  <div class="field">
    <%= f.label :count, (I18n.t"count") %><br />
    <%= f.number_field :count %>
  </div>
  <div class="actions">
    <%= f.submit(I18n.t"new_order_item") %>
  </div>
<% end %>
